footer {
  padding: 50px 0;
  font-size: 1.1em;
  position: relative;
  background: linear-gradient(to bottom, $brand-cream 0%, #F9D5D3 100%);
  color: #2B2B2B;

  .copyright {
    font-size: 0.7em;
    margin: 0 auto;
    
    @media #{$tablet} {
      text-align: center;
    }
  }

  a {
    text-decoration: none;
    color: #2B2B2B;

    &:hover {
      color: #ffffff;
    }
  }

  h2 {
    font-size: 1.4em;
    margin: 30px 0;
    color: #2B2B2B;
  }

  .footer-columns {
    @extend %flexbox;
    @include flex-flow(wrap);
    margin: -10px -10px 10px -10px;

    .footer-links {
      width: 100%;
      margin: 10px;
      padding: 0;

      @media #{$tablet} {
        -webkit-flex: 1 0 180px;
        flex: 1 0 180px;
      }

      li {
        list-style: none;
        margin: 15px auto;

        @media #{$tablet} {
          max-width: 150px;
        }

        a {
          display: flex;
          align-items: center;

          svg {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            vertical-align: middle;
            fill: #2B2B2B;
            transition: fill 0.25s ease;
          }

          &:hover svg {
            fill: #ffffff;
          }
        }
      }
    }
  }

  .legal-line {
    width: 100%;
    padding: 30px 0;
    margin: 0;
    background: linear-gradient(to bottom, $brand-cream 0%, #F9D5D3 100%);

    a {
      font-weight: 400;
      color: #2B2B2B;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
